<!-- <%# admin only page %> -->
<h1>Add a new book</h1>

<form action="/library" method="post">
  <div class="form-group">
    <label for="book_name">Book name</label>
    <input id="n" name="book_name" class="form-control" type="text">
    <label for="book_name">Author name</label>
    <input id="n" name="author_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">submit</button>
</form>


